{% extends 'base.html.twig' %}

{% block title %}Edition Agent{% endblock %}

{% block content %}
    <h1 class="erp-family">Edition Agent</h1>
    {% for message in app.flashes('alert') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    {{ include('agents/form_edit.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('agents_index') }}" class="btn btn-primary btn-sm mt-1 mb-1 erp-family">Retour Liste</a>

    {{ include('agents/_delete_form.html.twig') }}
{% endblock %}
