{% extends 'base.html.twig' %}

{% block content %}

    <div class="row align-items-center erp-family">
        <div class="col-md-6 mt-2">
            <h1 class="text-center">KGB Security Agence</h1>
            <p>Agents, Contacts, connectez vous à votre espace : Visualisez vos missions, contacts et cibles.</p>
            <p>KGB Security Agence est une agence gouvernementale qui fournit des renseignements objectifs sur les différents pays
                à travers le monde.</p>
        </div>
    </div>


{% endblock %}
