{% extends 'base.html.twig' %}

{% block title %}Edition des Contacts {% endblock %}

{% block content %}
    <h1>Contact(s) de la mission {{ mission.title }}</h1>

    {% for message in app.flashes('alert') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}


    {{ include('missions/form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('missions_index') }}">Retour List</a>

{% endblock %}
