{% extends 'base.html.twig' %}

{% block title %}Edit Missions{% endblock %}

{% block content %}
    <h1>Edit Missions</h1>

    {% for message in app.flashes('alert') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    {{ include('missions/form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('missions_index') }}">back to list</a>

    {{ include('missions/_delete_form.html.twig') }}



{% endblock %}
