{% extends 'base.html.twig' %}

{% block title %}Edition des Cibles des Missions{% endblock %}

{% block content %}
    <h1 class="erp-family">Cible(s) mission : {{ mission.codename }}</h1>

    {% for message in app.flashes('alert') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}


    {{ include('missions/form_edit_cibles.html.twig', {'button_label': 'Sauvegarde'}) }}
    <a href="{{ path('missions_index') }}" class="btn btn-primary btn-sm">Retour Liste</a>

{% endblock %}
