{% extends 'base.html.twig' %}

{% block title %}Erreur 500{% endblock %}

{% block content %}
    <div class="block-small">
        Erreur 500 </br>

        <a href=" {{ path('home') }} " class="btn btn-info">Retour</a>
    </div>
{% endblock %}
