{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block content %}
    <div class="block-small">
        Cette page n'existe pas </br>

        <a href=" {{ path('home') }} " class="btn btn-info">Retour</a>
    </div>
{% endblock %}
