{% extends 'base.html.twig' %}

{% block title %}KGB - About us{% endblock %}


{% block content %}

    <div class="row align-items-center erp-family">
        <div class="col-md-6 text-center">
            <img src="{{ asset('/assets/img/kgb.jpg') }}" class="img-fluid">
        </div>
        <div class="col-md-6 mt-2">
            <h1 class="text-center">About KGB</h1>
            <p>Notre mission est simple mais essentiel : tirer parti de la puissance de l'information pour assurer
                la sécurité de notre nation.</p>
            <p>Nous sommes la première ligne de défense de la nation. Nous accomplissons ce que les autres ne peuvent
                pas accomplir et allons là où les autres ne peuvent pas aller.</p>
        </div>



    </div>



{% endblock %}
