@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body{
    height:100%
}

/* Définition du font-family pour l'ensemble du site*/
.erp-family {
    font-family: 'Audiowide', cursive;
}

.navbar-item-custom a{
    color:white;
    text-decoration: none;
    margin-right: 25px;
}

footer {
    height:75px;
    width: 100%;
    background-color: #212529;
}

footer span {
    color : white;
}

/* Style sur la pagination */
.pagination {
    margin: 15px;
}

.pagination span {
    padding-right: 15px;
}

