{% extends 'base.html.twig' %}

{% block title %}Nouveau Contact{% endblock %}

{% block content %}
    <h1 class="erp-family">Création Nouveau Contact</h1>

    {% for message in app.flashes('alert') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    {{ include('contacts/form_new.html.twig') }}

    <a href="{{ path('contacts_index') }}" class="btn btn-primary btn-sm mr-1 mb-1 erp-family">Retour Liste</a>
{% endblock %}
